# Run unit tests
name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
      branches: [ "main" ]
  workflow_dispatch:


jobs:
  test:
    name: ${{ matrix.lisp }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      # Each combination of lisp and os are tested
      matrix:
        lisp: [sbcl-bin, ccl-bin, abcl-bin, clasp-bin, ecl]
        os: [ubuntu-latest]   # [windows-latest, ubuntu-latest, macOS-latest]

    steps:
      # This action checks out our code in the working directory
      - uses: actions/checkout@v3

      # Test our action
      - uses: duck-systems/run-fiveam@main
        with:
          lisp: ${{ matrix.lisp }}
          system: 'systems.duck.run-fiveam/test'
          tests: ':test-suite'
